<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- <bean id="genericDao" name="genericDao"
		class="com.nagarro.fotonet.dao.impl.GenericDaoImpl" abstract="true"/>

	<bean id="userDao" name="userDao" class="com.nagarro.fotonet.dao.impl.UserDaoImpl"
		parent="genericDao" />

	<bean id="photoDao" name="photoDao"
		class="com.nagarro.fotonet.dao.impl.PhotoDaoImpl" parent="genericDao" />

	<bean id="albumDao" name="albumDao"
		class="com.nagarro.fotonet.dao.impl.AlbumDaoImpl" parent="genericDao" /> -->

</beans>